@import 'variables';

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 10rem;
  background-color: $color1;
}

@import 'navigation';
@import 'footer';
@import 'syntaxHighlighter';
@import 'content';
